<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Success</title>
</head>
<body>
  <div>
    <h1>Registration Successful!</h1>
    <p>Your registration was successful.</p>
    <a href="/login"><button>Login</button></a>
  </div>
</body>
</html>
